@import "tailwindcss";

@theme {
  --color-accent: #E53935;
  --color-accent2: #FF7042;
  --color-accent3: #2196F3;
  --color-accent4: #F75C7F;
  --color-accent5: #1AB0B0;
  --color-accent6: #02BC7D;
  --color-primary: #FFFFFF;
  --color-secondary: #DEE2E6;
  --color-textLight: #9D9D9D;
}

* {
  font-family: "Manrope", sans-serif;
}
