@import "tailwindcss";

@theme {
  --color-accent: #E53935;
  --color-accent2: #FF7042;
  --color-accent3: #2196F3;
  --color-accent4: #F75C7F;
  --color-primary: #FFFFFF;
  --color-secondary: #DEE2E6;
}

* {
  font-family: "Manrope", sans-serif;
}
